.app {
  display: flex;
  width: 100vw; /* 전체 화면 너비 고정 */
  height: 100vh; /* 전체 화면 높이 고정 */
  overflow: hidden;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-top: 0;
}

.content-area {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* 세로로 배치 (Navbar -> 화면) */
  width: 100%;
  min-width: 0;
  overflow-y: auto;
  overflow-x: hidden;
}