.home {
  width: 100%;
  min-height: 100vh;
  background: #f7f7f7;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}



/* 헤더 */
.notice-header {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  padding: 15px 20px;
  font-size: 14px;
  color: gray;
  border-bottom: 1px solid #ddd;
}

/* 리스트 */
.notice-list {
  margin-top: 20px;
}

/* 한 줄 */
.notice-row {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.2s;
}

.notice-row:hover {
  transform: translateY(-2px);
}