/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e4e7;
    box-sizing: border-box;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-right {
    justify-content: flex-end;
    gap: 15px;
}
/*가운데*/
.navbar-center {
    flex: 3; /* 가운데 영역을 더 넓게 배분 */
    display: flex;
    justify-content: center;
    width: 100%;
}
/*---------로고--------*/
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-svg {
  height: 35px !important; 
  width: auto !important;
  display: block;
  object-fit: contain; 
  max-width: none !important; 
}
/* --- 검색바 디자인 --- */

.search-section {
    display: flex;
    align-items: center;
    width: 100%;
    max-width:800px;
    height: 46px
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: none;
    flex: 1;
}

.search-input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 40px 0 15px;
    /* 오른쪽에 돋보기 들어갈 공간 확보 */
    border: 1.5px solid #000000;
    border-radius: 0 23px 23px 0;
    /* 둥근*/
    background-color: #ffffff;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
}

.search-input:focus {
    border-color: #004695;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 70, 149, 0.1);
}

.search-icon-btn:hover {
    background-color: transparent;
}

.search-icon-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #6b7280;
}

/* --- 키워드(카테고리 설정 버튼 --- */
.category-btn {
    height: 100%;
    margin: 0;
    padding: 0 25px;
    background-color: #f0f0f0;
    color: #555555;
    border: 1.5px solid #cccccc;
    /* 버튼 테두리색과 통일 */
    border-right: none;
    border-radius: 23px 0 0 23px;
    /* 오른쪽만 둥글게 */
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.category-btn.active {
    border-color: #ff4d4d;
    background-color: #ff9999;
    color: #ffffff;
}

/* --- 구분선 --- */
.nav-divider {
    width: 1px;
    height: 20px;
    background-color: #d1d5db;
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    color: #4b5563;
    font-size: 14px;
}